{{#link-to "people.richard" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/richard.png" /></div>
  <div class="person-name">Richard Hendricks</div>
  <div class="person-title">CEO/President</div>
{{/link-to}}

{{#link-to "people.erlich" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/erlich.png" /></div>
  <div class="person-name">Erlich Bachmann</div>
  <div class="person-title">Board Member</div>
{{/link-to}}

{{#link-to "people.jared" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/jared.png" /></div>
  <div class="person-name">Jared (Donald) Dunn</div>
  <div class="person-title">Head of Business Development</div>
{{/link-to}}

{{#link-to "people.dinesh" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/dinesh.png" /></div>
  <div class="person-name">Dinesh Chugtai</div>
  <div class="person-title">Programmer, Co-CTO</div>
{{/link-to}}

{{#link-to "people.gilfoyle" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/gilfoyle.png" /></div>
  <div class="person-name">Bertram Gilfoyle</div>
  <div class="person-title">Systems Architect, Co-CTO</div>
{{/link-to}}

{{#link-to "people.carla" tagName="div" class="person person-index"}}
  <div class="person-image"><img src="images/carla.png" /></div>
  <div class="person-name">Carla Walton</div>
  <div class="person-title">Platform Engineer</div>
{{/link-to}}
