{{#link-to "people.index" tagName="div" class="person person-detail"}}
  <div class="person-image"><img src="images/gilfoyle.png" /></div>
  <div class="person-name">Bertram Gilfoyle</div>
  <div class="person-title">Systems Architect, Co-CTO</div>
{{/link-to}}

<div class="person-info">
  <p>
    McGill. MIT. EFF. 666Chan. I put the “security” in network security. Who watches the watchmen? That would be me, mother**cker. In 2011 Gilfoyle replaced the homepage of the Federal Reserve with the cover of Neil Gaiman’s Neverwhere (paperback edition). It took them a week to get it down. You’re welcome. He has played drums in various Toronto-area first-wave-DC-influenced hardcore, thrashcore, hatecore, corecore and corehard outfits under the name Strychnine McTwat. In fact, he has been asked to leave some of the most influential bands in the Toronto scene, including Piss Nazis, the Scumtones and Das Abortions. Non serviam.
  </p>
</div>
