<div class="person person-detail">
  <div class="person-image"><img src="images/dinesh.png" /></div>
  <div class="person-name">Dinesh Chugtai</div>
  <div class="person-title">Programmer, Co-CTO</div>
</div>

<div class="person-info">
  <p>
    Born in Islamabad, Dinesh became a naturalized citizen in 2010, unlike Gilfoyle, who was an illegal Canadian alien until quite recently and is a piece of garbage. He has received degrees in information theory and computer science from Yale, Caltech and Oxford and published several books on advanced Java tools. His hobbies include both watching rugby and the wearing of its signature shirts (which combine form and function in a way not popularly appreciated) as well as libertarian politics.
  </p>
</div>
