{{#link-to "people.index" tagName="div" class="person person-detail"}}
  <div class="person-image"><img src="images/jared.png" /></div>
  <div class="person-name">Jared (Donald) Dunn</div>
  <div class="person-title">Head of Business Development</div>
{{/link-to}}

<div class="person-info">
  <p>
    Jared’s early life is best passed over, and parts of it he cannot legally discuss because of non-disclosure clauses in settlements, but he managed to rise above it thanks a series of largely well-meaning foster parents and went on to receive a B.A. from Vassar College in Economics. During those happiest of years, he sang second alto with the Joyce Carol Notes A Capella Confrontation and was both coxswain for Women’s Heavyweight Crew and co-founder of Take Back Take Back the Night. After college, he worked for Google, Congresswoman Nancy Pelosi and Hooli, but now he is a Pied Piper man all the way.
  </p>
</div>
