<div class="person person-detail">
  <div class="person-image"><img src="images/carla.png" /></div>
  <div class="person-name">Carla Walton</div>
  <div class="person-title">Platform Engineer</div>
</div>

<div class="person-info">
  <p>
    Carla Walton has degrees from Rice and Carnegie Mellon, if that’s okay with you. She joined Pied Piper as a platform engineer in 2015. Before that, she did the whole Oracle thing for a while, then was head of engineering at Earcast, where she built the whole system on her own, despite budgetary constraints and general, all-around lameness and suckage. In her spare time, she created Hellacast, a live-streaming site that uses next-gen codecs like VP9 and p2p sharing technology and broadcasts her ex-roommate’s web series, a soap opera about animal liberation starring puppets.
  </p>
</div>
