<div class="person person-detail">
  <div class="person-image"><img src="images/richard.png" /></div>
  <div class="person-name">Richard Hendricks</div>
  <div class="person-title">CEO/President</div>
</div>

<div class="person-info">
  <p>
    Richard hails from Tulsa. He studied at Stanford (go Cardinals!) but did not graduate, which is not a problem for anyone but his parents, who maybe should focus on him being the CEO of a company? Before starting Pied Piper, he briefly worked for Hooli. You know, the corporate behemoth whose butt he just kicked at TechCrunch?
  </p>
</div>
