{{#link-to "people.index" tagName="div" class="person person-detail"}}
  <div class="person-image"><img src="images/erlich.png" /></div>
  <div class="person-name">Erlich Bachmann</div>
  <div class="person-title">Board Member</div>
{{/link-to}}

<div class="person-info">
  <p>
    Noted Silicon Valley entrepreneur and bon vivant Erlich Bachmann has founded both Aviato and Palo Alto’s Hacker Hostel incubator, where he has nurtured talents such as Richard Hendricks and the soon-to-be famous Jian-Yang (last name unclear). He hopes to one day hybridize Cannabis Sativa with genetic material from Psylocybe Cubensis (to produce customizable hallucinations) but has already created a number of hemp-based hair enhancement products for thick, luxuriant hair (patents pending). He has attended, for various lengths of time, Berkeley, Reed and Hampshire College (B.A. in Ultimate Frisbee).
  </p>
</div>
